thead .date {
    font-size: 0.7rem;
    color: grey;
}

thead {
    color: darkcyan;
}

h4 {
    color: orange;
}

th span {
    font-size: 0.9rem;
}

.goodJob {
    padding: 3px 10px;
    background-color: cadetblue;
    font-size: 1rem;
    border-radius: 50%;
}