.container-habit-list {
    margin-left: 15px;
    margin-top: 15px;
}

.spiritual {
    color: greenyellow;
}

.sport {
    color: coral;
}

.food {
    color: cornflowerblue;
}

.study {
    color: orchid;
}

.emotional {
    color: yellow;
}

.another {
    color: cadetblue;
}
