.spiritual {
    color: greenyellow;
}

.sport {
    color: coral;
}

.food {
    color: cornflowerblue;
}

.study {
    color: orchid;
}

.emotional {
    color: yellow;
}

.another {
    color: cadetblue;
}

@media (max-width: 575px) {

    .categorySelect {
        padding-left: 0 !important;
    }

    .check, .categorySelect {
        margin-top: 2px;
    }
}

@media (max-width: 530px) {

    .check {
        margin-left: -15px !important;
    }
}