.toHabit {
    font-family: 'Syne Mono', monospace;
    font-size: 1.2rem;
    color: cadetblue;
}

.navbar-brand {
    padding-top: 1px;
}

.toHabit:hover, .headerLinks:hover {
    text-decoration: none !important;
    color: #28a745;
}

.headerLinks {
    color: #A7906F;
    font-family: 'Syne Mono', monospace;
}

.header .justify-content-end {
    color: #5F7EA0;
}

.displayIcon {
    display: none;
}

li {
    display: inline-block;
}

.current li::after {
    width: 100% !important;
}

.underline li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width .4s;
}

nav {
    border-bottom: 1px solid lightgray;
    box-shadow: 0 3px 5px gainsboro;
}

@media (max-width: 500px) {
    .toHabit, .userName, .rightHeader {
        font-size: 0.9rem;
    }

    .displayWord {
        display: none;
    }

    .displayIcon {
        display: inline;
    }
}

@media (max-width: 320px) {
    .userName {
        display: none;
    }
}

