.toHabit {
    font-family: 'Syne Mono', monospace;
    font-size: 25px;
    color: cadetblue;
}

.toHabit:hover, .statisticsLink:hover {
    text-decoration: none !important;
    color: #28a745;
}

.statisticsLink {
    color: #A7906F;
    font-size: 20px;
}
