.toHabitFooter {
    font-family: monospace;
    /*font-size: 20px;*/
    color: cadetblue;
}

.toHabitFooter:hover, .statisticsLink:hover {
    text-decoration: none !important;
    color: #28a745;
}

.footer {
    font-size: 0.8rem !important;
}