.toHabitFooter {
    font-family: monospace;
    color: cadetblue;
}

.toHabitFooter:hover {
    text-decoration: none !important;
    color: #28a745;
}

.footer {
    font-size: 0.8rem;
}

.email {
    font-size: 0.8rem !important;
}

@media (max-width: 500px) {
    .footer justify-content-end {
        font-size: 0.9rem;
    }
}